<!-- Placeholder intro -->
<div class="intro container">
    <div class="row">
        <div class="col">
            <h1>About DairyData!</h1>
            <span class="icon">
                <img src="../../assets/about_me_icon.webp">
                <p>
                    My name is Robert Dunn, and I am the founder of DairyData. I am a software developer and dairy enthusiast, with a
                    passion for data analytics.
                </p>
            </span>
        </div>
    </div>
</div>
