<header class="header">
    <img class="logo" src="assets/dairydata_logo.png">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://forms.gle/3C5cxTBfp32tFPfn8">Survey</a></li>
    </ul>
</header>

<div class='container'>
    <div class="parallax">
        <i class="arrow down"></i>
    </div>
</div>
<!-- New responsive navbar -->
<!-- <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="logo" src="assets/dairydata_logo.png">
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="https://forms.gle/GzJK4m4qhryDFxWU7" class="nav-link">Survey</a>
            </li>
        </ul>
    </div>
</nav> -->

<!-- <hr /> -->

<router-outlet></router-outlet>
