<header class="header">
    <img class="logo" src="assets/dairydata_logo.png">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://forms.gle/3C5cxTBfp32tFPfn8">Survey</a></li>
    </ul>
</header>

<div class='container'>
    <div class="parallax" [style.background-image]="urlPath">
        <i class="arrow down"></i>
    </div>
</div>

<router-outlet></router-outlet>

<!-- Script to stop fixed background image stuttering in IE -->
<script>
    if (navigator.userAgent.match(/Trident\/7\./)) { // if IE
        $('body').on("mousewheel", function () {
            // remove default behavior
            event.preventDefault();

            //scroll without smoothing
            var wheelDelta = event.wheelDelta;
            var currentScrollPosition = window.pageYOffset;
            window.scrollTo(0, currentScrollPosition - wheelDelta);
        });
    }
</script>
