<div class="intro container">
    <div class="row">
        <div class="col">
            <h1>Welcome to DairyData!</h1>
            <p>
                This is DairyData. A new data-driven agricultural technology startup.
                <br>
                <br>
                Our goal is to develop and maintain systems which aggregate the invaluable data that comes with each gallon of milk
                produced.
                <br>
                <br>
                Our approach is modern, efficient, cloud-driven, and cost-effective.
            </p>
        </div>
    </div>
</div>

<!-- Script to stop fixed background image stuttering in IE -->
<script>
    if (navigator.userAgent.match(/Trident\/7\./)) { // if IE
        $('body').on("mousewheel", function () {
            // remove default behavior
            event.preventDefault();

            //scroll without smoothing
            var wheelDelta = event.wheelDelta;
            var currentScrollPosition = window.pageYOffset;
            window.scrollTo(0, currentScrollPosition - wheelDelta);
        });
    }
</script>
