<div class="intro container">
    <div class="row">
        <div class="col">
            <h1>Welcome to DairyData!</h1>
            <p>
                This is DairyData. A new data-driven agricultural technology startup.
                <br>
                <br>
                Our goal is to develop and maintain systems which aggregate the invaluable data that comes with each gallon of milk
                produced.
                <br>
                <br>
                Our approach is modern, efficient, cloud-driven, and cost-effective.
            </p>
        </div>
    </div>
</div>
