<div class='container'>
    <div class="parallax">
        <i class="arrow down"></i>
    </div>
    
    <!-- Placeholder intro -->
    <div class="intro">
        <h1>Welcome to DairyData!</h1>
        <p>
            My name is Robert Dunn, and I am the founder of a new agricultural technology startup, DairyData. I am contacting you
            today for research purposes to gauge the viability of the startup. This is not a solicitation for business. I want to
            gain a better understanding of the state of technology in the dairy industry and am canvasing members of the dairy
            industry hoping to achieve this. I have attached a link and a QR code for a Google Forms survey that I would love for
            you to complete.
            <br />
            <br />
            You can simply type the link below into a web browser on your phone or PC or scan the QR Code below. To use the QR code,
            simply open the camera app on your smartphone and focus on the code. You will either be automatically directed to the
            form or be given a link to click. I know as farmers and industry workers your time is valuable. The survey should easily
            take less than five minutes if you graciously choose to complete it.
        </p>
    </div>
</div>
